a.link {
  color: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0.25rem 0.5rem;
  border-radius: var(--mat-sys-corner-extra-small);
  text-decoration: underline 1px;
  transition:
    background-color 225ms cubic-bezier(0.4, 0, 0.2, 1),
    color 225ms cubic-bezier(0.4, 0, 0.2, 1),
    text-decoration-thickness 225ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    text-decoration-thickness: 2px;
  }
  
  &:active {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
  }

  &.matched-path {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
  }
  
  &.matched-path:hover {
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }
  
  &.matched-path:active {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);
  }
}

