@use './core/page/page';

/**
 * Google Fonts
 * Imported here to avoid component style budget limits
 */

/* Roboto - Primary UI font (Material Design) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Nanum Gothic Coding - Monospace font for code/suggestions */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

/* Pacifico - Decorative font for "Made with Love" */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html,
body {
  height: 100%;
  font-size: 16px;
  margin: 0;
  overflow: auto;
}

body {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  scrollbar-width: thin;
}
